html, body, #container, .frame {
	font-family: 'Segoe UI', 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #ECF0F1;
	text-transform: lowercase;
	height: 100%;
	width: 100%;
	font-size: 24px;
}

a:hover {
	text-decoration: none;
}

#container {
	overflow: hidden;
}

.frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.slow-hack {
	transition: opacity 1.5s linear;
}

.current {
	opacity: 1;
	transition: opacity 1s linear;
	z-index: 1;
}

/*
 * All of the stuffs for making circles is below.
 */
 
.circle {
	width: 3em;
	height: 3em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	border-radius: 50em;
	margin-top: -0.75em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	display: inline-block;
}

.outline {
	border: 0.15em solid black;
	background: inherit !important;
}

.big {
	width: 4.5em !important;
	height: 4.5em !important;
	margin-top: -1.5em !important;
}

.small {
	width: 0.5em !important;
	height: 0.5em !important;
	margin-top: 0 !important;
	margin-left: 0.1em !important;
	margin-right: 0.1em !important;
}

.red {
	border-color: #E74C3C !important;
	background: #E74C3C;
}

.black {
	border-color: #2C3E50 !important;
	background: #2C3E50;
}

.off-black {
	border-color: #566474 !important;
	background: #566474;
}

.blue {
	border-color: #3498DB !important;
	background: #3498DB;
}

.purple {
	border-color: #9B59B6 !important;
	background: #9B59B6;
}

.orange {
	border-color: #E67E22 !important;
	background: #E67E22;
}

.green {
	border-color: #2ECC71 !important;
	background: #2ECC71;
}

.yellow {
	border-color: #F1C40F !important;
	background: #F1C40F;
}

.grey {
	border-color: #7F8C8D !important;
	background: #7F8C8D;
}

/* 
 * All the style stuff for individual sections of frames is below.
 */
 
.center, .top, .bottom {
	text-align: center;
	width: 100%;
}
 
.center {
	position: absolute;
	top: 50%;
	margin-top: -1em;
}

.line {
	display: block;
	margin-top: -1.75em;
}

.top {
	position: absolute;
	top: 25%;
}

.bottom {
	position: absolute;
	bottom: 25%;
}

.shift-up {
	margin-top: -3em;
	margin-bottom: 1em;
}

.big-shift-down {
	margin-top: 2.5em;
	margin-bottom: -2.5em;
}

.shift-down {
	margin-top: 1em;
	margin-bottom: -1em;
}

.large-text {
	font-size: 5em;
}

.small-text {
	font-size: 0.5em;
}

.love {
	color: #E74C3C;
}

.bad {
	color: #C0392B;
}

/*
 * All the stuffs for the final page follows.
 */

.header, .footer {
	width: 100%;
	font-size: 0.75em;
	position: absolute;	
}

.header {
	top: 0;
}

.footer {
	bottom: 0;
}

.header .left, .footer .left {
	float: left;
	margin-left: 0.5em;
}

.header .right, .footer .right {
	float: right;
	margin-right: 0.5em;
}

.page {
	width: 100%;
	position: absolute;
	top: 4em;
	font-size: 14px;
}

.body {
	width: 70%;
	min-width: 800px;
	margin: 0 auto;
}

.body .column {
	text-align: justify;
	width: 45%;
}

.body .left {
	float: left;
}

.body .right {
	float: right;
}

#social {
	position: relative;
	top: 0.5em;
}

.centered {
	text-align: center;
}